OCR_API_KEY=your_api_key_here
ORG_AUTHORITY_PUBKEY=BytFyQcJjBVSH6gARHCixGFa4wca1K3zERKGf3ZGCQVt
QUEUE_PUBKEY=Cuj97ggrhhidhbu39TijNVqE74xvKJ69gDervRUXAxGh
# Set to 1 to automatically request VRF after invoice validation
AUTO_REQUEST_VRF=1
# Optional: set a short due date for testing (seconds)
# SHORT_DUE_SECONDS=60


AUTO_FUND_ESCROW=1
TOKEN_MINT=4zMMC9srt5Ri5X14GAgXhaHii3GnPAEERYPJgZJDncDU  # USDC Devnet
PAYER_TOKEN_ACCOUNT = H2MRpmoAzNJeAXGBtytDyeHEewzRQTBeN8dd9vfvAH3F